*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #E2E2E2;
    padding: 10px;
    color: #474747;
    font-size: 1rem;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 5px;
    transition: all .5s;
}

nav a:hover {
    color: #000;
    background-color: #ABABAB;
}

.nav-container-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container-1 img{
    margin-right: 10px;
    height: 50px;
}

.nav-items{
    display: flex;
    align-items: center;
}

section{
    padding: 100px 0;
}

.nosotros{
    position: relative;
    background-image: url(../img/2020-dodge-eshop-banner.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    display: flex;
    flex-flow: column nowrap;
}

.nosotros-text{
    width: 700px;
    text-align: center;
}

h1{
    color: #ABABAB;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

h2{
    color: #ABABAB;
    font-size: 2rem;
    letter-spacing: 0.7rem;
    font-weight: 400;
}

h3{
    font-size: 1.8rem;
}

p{
    font-size: 1.5rem;
    color: #ABABAB;
}

.nosotros p{
    line-height: 1.5rem;
    color: #ABABAB;
}

.box-center{
    margin: auto;
    width: 80%;
}

.about-mantenimiento{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
#text-sapn{
    color: #001a61;
}

.about-mantenimiento .content-mantenimiento{
    margin-top: 40px;
    flex: 0 0 50%;
}

.content-image{
    margin-top: 40px;
    position: relative;
    flex: 0 0 400px;

}

.content-image img{
    width: 100%;
    height: 410px;
    object-fit: cover;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    transition: all .5s;
}

.texto-parrafo{
    font-size: 1.2rem;
    line-height: 2rem;
}

.off-sale{
    position: relative;
    background-image: url(../img/Tacoma-Banner.jpg);
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: grid;
    place-content: center;
}

.ubi{
    display: flex;
    justify-content: center;
}

.btn-off{
    width: 170px;
    height: 40px;
    border: none;
    border-radius: 15px;
    padding: 10px 25px;
    margin-top: 15px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    background-color: #474747;
    color: white;
    transition: all 1s;
}

.btn-off:hover{
    background-color: transparent;
}

.overlay, .off-sale::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

}

.off-sale *{
    position: relative;
}

footer{
    background-color: #000;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
}

h3{
    margin-bottom: 70px;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #222;
    text-align: center;
}

.texto-contacto, h3{
    font-size: 1.6rem;
    color: #ffffff;
    text-align: left;
    font-weight: 400;
    margin-top: 10px;
}



.footer-parrafo{
    line-height: 40px;
    color: #ffffff;
}

.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    width: 60%;
}

.icons a{
    display: flex;
    background-color: #474747;
    border-radius: 50%;
    margin: 5px;
    color: white;
    align-items: center;
    width: 50px;
    height: 50px;
    justify-content: center;
    transition: all .5s;
}

.icons a:hover{
    background-color: transparent;
}
